
.progress-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    width: 200px;
    justify-content: space-between;
  }
  
  .progress-line {
    position: absolute;
    top: 10px; 
    bottom: 12px; 
    left: 8%;
    width: 3px;
    background-color: #e0e0e0;
    z-index: 0;
  }
  .progress-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: space-between; 
    padding: 0; 
    margin: 0; 
    width: 100%;
}

  .progress-item {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  
  .progress-item:last-child {
    margin-bottom: 0; 
  }
  
  .icon-container, .icon-container-not {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-container {
    background-color: #344c9b; 
    color: #fff; 
  }
  
  .icon-container-not {
    background-color: #e0e0e0; 
    color: #b0b0b0; 
  }
  
  .icon-not, .icon {
    font-size: 16px;
  }
  
  .progress-text {
    font-size: 11px;
    
  }
  