.technology-container {
    display: flex;
    justify-content: space-between;
  }
  
  .technology-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 100px;
    border-radius: 5%;
  }

