.technology-container {
    display: grid;
    gap: 24px;
  }
  
  .technology-card {

    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 6px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    
  }

  .technology-card p {
    font-size: 10px; 
    line-height: 1.2;
  }

  .technology-card h3 {
    font-size: 10px; 
  }

  .technology-card img {
    width: 60px; 
    display: block;
    margin: auto;
  }

  .technology-card button {
    font-size: 8px;
    line-height: 1.2;
    margin-top: 10px;
  }

  .info-box {
    border: 1px solid #ddd;
  }

  .info-box p {
    font-size: 10px;
    line-height: 1.2;
  }