.technology-container {
    display: flex;
    justify-content: space-between;
  }
  
  .technology-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 80px;
    border-radius: 5%;
  }

  .technology-card p {
    font-size: 8px; 
    line-height: 1.2;
  }

  .technology-card h3 {
    font-size: 10px; 
  }

  .technology-card img {
    width: 60px; 
  }

  .technology-card button {
    font-size: 6px;
    line-height: 1.2;
  }

  .info-box {
    border: 1px solid #ddd;
    padding: 10px;
  }